<h5>COOKIE GENERATOR</h5>


<input id="nombre" />
<input id="valor" />

<button id="getCookies" value="button">getCookies</button>
<button id="setCookies" value="button">setCookies</button>















<script src="/js/cookies.js"></script>