<form 
action="http://localhost:8080/img/"
method="post"
enctype="multipart/form-data"
>

<head>
    <h1 style="text-align: center; font-weight: bold; color: white; font-size: 45px;">TIENDAONLINE.UY</h1>
    <p style="text-align: center; color: white; font-size: 25px;">ADD YOUR IMAGE PRODUCT:</p>
</head>


<div style="display: flex; flex-direction: column; align-items: center; margin-top: 400px">
<label style="font-size: 25px; color: white"> Marca: </label>
<input style="width: 450px; height: 40px;" class="form-control" type="text" name="name" />
<br />
<label style="font-size: 25px; color: white; margin-top: 30px "> Imagen: </label>
<input style="width: 450px; height: 40px;" class="form-control" type="file" name="file" />
<br />


<button style="width: 450px; height: 40px; margin-top: 100px" class="btn btn-primary" type="submit" value="submit">Cargar</button>

</div>

</form>