<form action="http://localhost:8080/api/login" method="post">

<input tyoe="text" name="email" value="email" />
<input tyoe="text" name="password" value="password" />

<button value="submit">Recuperar</button>

</form> 